
 .crystal-image {
    width: 300px;
    height: 300px;
  }

  .number{
  position: relative;
  color: black;
  font-size: 24px;

  }

  .instr{
    color: black
  }

  .image{
    width: 300px;
    height: 300px;
  }
