body{
  background-image: url("../images/Earth-Wallpapers-46.jpg");
}
 
 
 .crystal-image {
   margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .number{
 
  /* color: rgb(224, 213, 213); */
  font-size: 24px;

  }

  .instr{
    /* color: black */
  }
  #crystals{
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
  }
  